# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfvars
*.auto.tfvars

# Terraform bootstrap (estados locales)
infrastructure/bootstrap/bootstrap.tfstate*
infrastructure/bootstrap/.terraform/

# Secrets
*.pem
*.key
backend.conf

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
